.latestWorks {
  width: 100vw;
  height: 100vh;
  /* background-color: chocolate; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.a {
  margin-bottom: 30px;
  width: 100%;
  height: 45%;
  position: absolute;
  top: 0;
  background-color: cadetblue;
}
.b {
  /* margin-bottom: 30px; */
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 30px;
  background-color: rgb(160, 95, 95);
}
.c {
  /* margin-top: 30px; */
  width: 100%;
  height: 45%;
  position: absolute;
  top: 30px;
  background-color: rgb(160, 95, 95);
}
.d {
  margin-top: 30px;
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0;
  background-color: cadetblue;
}
.t {
  width: 60%;
  height: 60%;
  /* background-color: rgb(149, 95, 160); */
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 40;
  bottom: 20%;
  right: 20%;
}
.t1 {
  width: 40%;
  height: 100%;
  /* background-color: rgb(90, 90, 90); */
  position: absolute;
  left: 0;
  top: 0;
}
.abcdg {
  width: 60%;
  height: 100%;
  /* background-color: rgb(90, 90, 90); */
  position: absolute;
  right: 0;
  top: 0;
}
.ab2 {
  width: 45%;
  height: 100%;
  /* background-color: rgb(160, 121, 95); */
  position: absolute;
  right: 0;
  margin-left: 10px;
}
.cg3 {
  width: 45%;
  height: 100%;
  /* background-color: rgb(53, 22, 22); */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}
.like {

}
