* {
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
  /* color: #6a727f; */
  color: #111111;
  font-family: raleway,sans-serif;

}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #111111;

  
}
.home {
    margin: 70px auto;
}
h1{
 
    font-size: 5rem;
    
}
p{
    /* padding-top: 20px;
    font-size: 1rem; */
    font-weight: 400;
    font-size: 1.125rem;
    margin: 20px 0 0;
}

h2, h3,span{
    color: #704da8;
    text-shadow: 2px -10px 2px rgba(101,168,0,0);
    font-size: 3.75rem;
    font-weight: 300;
    text-transform: uppercase;
    /* margin: 0 auto 0 0; */
}
/* Header */
.header {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    border: 0;
    margin-right: 25px;
    transition: 0.5s;
    transition-delay: 0.3s;

}
.circleBG {
     z-index: 0;
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: -1000px;
    /* left: -100px; */
    /* right: 0; */
    margin-bottom: 100px;
    padding: 0;
    /* z-index: 100; */
    border: 0;
    border-style: solid;
    background: #f2f2f2;
    border: 2rem solid white;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
    transition: 0.5s;
    transition-delay: 0.3s;
    border-radius: 50%;
}

.logoImg {
  width: 120px;
  height: 61px;
  margin-left: 30px;
}
.navv{
    /* margin-right: 30px;
    text-align: right; */
    /* z-index:100; */
}
.navU {
  list-style: none;
}
.nav {
  display: inline;

  padding-left: 15px;
  font-size: 1.5rem;
}
a {
  text-decoration: none;

}
/* Banner */
.banner {
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 15px;
}
#contentBanner {
    width: 35vw;
  margin-bottom:100px ;
  margin-left: 20px;

}
#imgBannerDiv {
    width: 350px;
    width: 55vw;
    margin-top: 200px;
    position: relative;
    

}
.imgBanner{
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    border: 2rem solid white;
    position: absolute;
    top:0;
    right: 0px;
    /* position: relative;
    top: 30px;
    right: 30px; */
    

}
#circleImg{
    position: relative;
    top: 0px;
    /* left: 10px; */
    /* right: 20px; */
    width: 200px;
    height: 200px !important;
    height: 300px;
    float: right;
    border-radius: 50%;
    border: 0.5em solid white;
}


/* Main */
.about {
    width: 100%;
    height: 500px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(242, 242, 242); */
    position: relative;
}
.parallax {
    /* The image used */
    /* background-image: url("dots2.png"); */
    /* Set a specific height */
    /* min-height: 200px;  */
    /* Create the parallax scrolling effect */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:right;
    background-size:20em; */
    /* background-image: url(dots2.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: left;
    background-size: 20rem; */
  
  }


.aboutContent {
  width: 40vw;
  padding: 30px 40px;
  background-color: rgb(242, 242, 242);
  text-align: left;

}
.aboutImg{
    width: 40vw;
    margin:0 30px;
    /* border-radius: 50%; */
}
#aboutImg {
    width: 450px;
    height: 450px;
}

img {
  width: 400px;
  height: 400px;
  /* width: 400px;
  height: 300px;
  border: 1em dashed rgb(242, 242, 242); */
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 0.5em solid white;
}

.recentlyPro {
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
  
}
.grid-container {
  /* display: grid;
  grid-template-columns: auto auto;
  background-color:  rgb(242, 242, 242); */
  display: flex;
  /* grid-template-columns: auto auto; */
  background-color: rgb(242, 242, 242);
  width: 1200px;
  flex-wrap: wrap;
}
.grid-item {
  padding:10px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */

  text-align: center;
  
}
.viewMore {
}

.showWork {
    /* height: 80vh; */
  }
  
  #workPage{
    margin-top: 50px;
    margin-left: 50px;
}
.disc{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.discContent {
    width: 40%;
    position: sticky;
    top: 30%;
    left: 0px;
    padding-top: 50px;
}
.grid {
    display: grid;
    grid-template-columns: auto;
    /* width: 50%; */
            /* The image used */
            background-image: url("/circle.png");
            /* Set a specific height */
            min-height: 200px; 
            /* Create the parallax scrolling effect */
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
            background-position:right;
            background-size:20em;
          
}
.discImg {
    /* width: 600px;
    height: 500px;
    margin: 15px 0px;
    border-radius: 50%; */
    margin: 15px 0px;
    border-radius: 50%;
    width: 100%;
    height: 100vh;

}

/* Footer */
.footer{

  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #333333;


}

.footer p{
    color: white;
}

#show {
    margin-top: 200px;
}